<%= form_for(@loan_payment,:html => { style: "text-align: left;"}) do |f| %>
<% if @loan_payment.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@loan_payment.errors.count, "error") %> prohibited this loan_payment from being saved:</h2>

  <ul>
    <% @loan_payment.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="form-group" style="width: 50%">
  <label>Total Hutang:</label>
  <%= number_to_currency( @loan_permission.total_loan, :unit => "Rp ")  %>
</div>
<div class="form-group" style="width: 50%">
  <label>Tanggal Pengajuan: </label>
  <%= Date.today %>
  <% if current_user.role_id == 2%>
  <%= f.hidden_field :approval_date, class: "form-control", value: Date.today %>
  <%else%>
  <%= f.hidden_field :submission_date, class: "form-control", value: Date.today %>
  <% end %>  
</div>
<div class="form-group" style="width: 50%">
  <label>Tanggal:</label>
  <div class="input-group">
    <div class="input-group-addon">
      <i class="fa fa-calendar"></i>
    </div>
    <%= f.text_field :payment_date, :placeholder=> "Tanggal" , class: "form-control pull-right date_custom" %>
  </div>
</div>
<div class="form-group" style="width: 50%">
  <label>Besar Dana:</label>
  <%= f.number_field :total_payment, class: "form-control" %>
</div>
<% status = nil%>
<% if current_user.role_id == 2 %>
<div class="form-group" style="width: 50%">
  <label>Deskripsi:</label>
  <%= f.text_area :description, :cols => "30", :rows => "10", class: "form-control" %>
</div>
<% status = 2%>
<% else %>
<div class="form-group" style="width: 50%">
  <label>Pesan:</label>
  <%= f.text_area :message, :cols => "30", :rows => "10", class: "form-control" %>
</div>
<% status = 0%>
<% end %>
<%= f.hidden_field :loan_permission_id, value: @loan_permission.id %>
<%= f.hidden_field :status, value: status %>

<div class="actions">
  <%= f.submit %>
</div>
<% end %>
