<% content_for :content_title do %>
Pengajuan
<% end%>

<% content_for :content_sub_title do %>
Detail Pembayaran
<% end%>

<% content_for :content_body do %>
<div align="left">
  <table>
    <tr>
      <td> <b>Tanggal Pengajuan </b> </td>
      <td> <b> :</b> </td>
      <td> <%= @loan_payment.submission_date %> </td>
    </tr>
    <tr>
      <td> <b>Tanggal Persetujuan </b> </td>
      <td> <b> :</b> </td>
      <td> <%= @loan_payment.approval_date %> </td>
    </tr>
    <tr>
      <td> <b>Tanggal Pembayaran </b> </td>
      <td> <b> :</b> </td>
      <td> <%= @loan_payment.payment_date %> </td>
    </tr>
    <tr>
      <td> <b>Nama Karyawan </b> </td>
      <td> <b> :</b> </td>
      <td> <%= @loan_payment.try(:loan_permission).try(:user).try(:first_name) %> </td>
    </tr>
    <tr>
      <td> <b>Besar Dana </b> </td>
      <td> <b> :</b> </td>
      <td> <%= number_to_currency( @loan_payment.total_payment, :unit => "Rp ") %> </td>
    </tr>
    <tr>
      <td> <b>Pesan </b> </td>
      <td> <b> :</b> </td>
      <td> <%= @loan_payment.message %> </td>
    </tr>

    <tr>
      <td> <b>Deskripsi </b> </td>
      <td> <b> :</b> </td>
      <td> <%= @loan_payment.description %> </td>
    </tr>

  </table>
</div>
<% end%>

<% content_for :content_nav do %>

<%= link_to 'Kembali', loan_payments_path, :class=>'btn btn-primary' %>


<% end%>




