<style type="text/css">
  th {
	text-align: center;
  }
</style>

<% content_for :content_title do %>
  List Gaji
<% end%>

<% content_for :content_sub_title do %>
  Data Gaji Karyawan
<% end%>

<% content_for :content_body do %>

  <table class="table table-striped">
	<tbody>
	<tr>
	  <th>No</th>
	  <th style="text-align: left;">Name</th>
	  <th>Gaji Pokok</th>
	</tr>
	<% @users.each_with_index do |user, index| %>
	  <tr>
		<td ><%= index + 1 %></td>
		<td style="text-align: left;"><%= user.first_name %> <%= user.last_name %></td>
		<td class="left"><%= number_to_currency(user.my_salary, unit: "Rp: ", precision: 0) %></td>
	  </tr>
	<% end  %>
	</tbody>
  </table>

<% end %>

<% content_for :content_nav do %>
  <%= link_to 'Export Pdf', list_salary_salary_schedules_path(format: :pdf), :class=>'btn btn-primary' %>
  <%= link_to 'Export Excel', list_salary_salary_schedules_path(format: :xls), :class=>'btn btn-primary' %>
<% end %>

