<style type="text/css">
  th {
    text-align: center;
  }
</style>

<% content_for :content_title do %>
Gaji
<% end%>

<% content_for :content_sub_title do %>
<% u = User.find(params[:id]) %>
Data Riwayat Penggajian <%= "#{u.first_name} #{u.last_name}".capitalize %>
<% end%>

<% content_for :content_body do %>
<table id="example2" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th > Tanggal </th>
      
      <th > Jumlah Pembayaran</th>
      <th > Biaya Lembur Siang </th>
      <th > Biaya Lembur Malam </th>
      <th>Status</th>
      <% if current_user.role.name == "admin"%>
      <th > Aksi </th>
      <% end %>
    </tr>
  </thead>
  
  <tbody>
    <% @salary_histories.each do |salary_history| %>
    <tr>
      <td><%= salary_history.applicable_date.strftime("%d-%B-%Y") %></td>
      <td><%= number_to_currency( salary_history.payment, :unit => "Rp ") %></td>
      <td><%= number_to_currency( salary_history.day_payment_overtime, :unit => "Rp ") %></td>
      <td><%= number_to_currency( salary_history.night_payment_overtime, :unit => "Rp ") %></td>

      <% stat = nil %>
      <% if salary_history.activate == true  %>
      <% stat = "Aktif" %>
      <% else %>
      <% stat = "Tidak Aktif" %>
      <% end %>

      <td><%= stat  %></td>
      <% if current_user.role.name == "admin"%>
      <td>
        <%= link_to 'Lihat', salary_history_path(salary_history), :class=>'btn btn-info' %> 
        <%= link_to "Ubah".html_safe, edit_salary_history_path(salary_history, id: params[:id]), :class => "btn btn-warning" %>
        <%= link_to "Hapus".html_safe, salary_history, :class =>"icon-trash", :class => "btn btn-danger", confirm: 'Apa Anda Yakin?', method: :delete %>
        <% if salary_history.activate == false  %>
        <%= link_to 'Aktifkan', set_activation_salary_history_path(salary_history), :class=>'btn btn-primary'%>
        <% end %>
      </td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<% content_for :content_nav do %>
<%= link_to 'Buat Rekap Gaji', new_salary_history_path(params[:id]) , :class=>'btn btn-primary'%>
<%= link_to 'Kembali', manage_users_path, :class=>'btn btn-primary' %>
<% end%>



