<% content_for :content_title do %>
Gaji
<% end%>

<% content_for :content_sub_title do %>
Detail Data Riwayat Penggajian
<% end%>

<% content_for :content_body do %>
<div align="left">
	<table>
		<tr>
			<td> <b> Tanggal </b> </td>
			<td> &nbsp;<b> :</b>&nbsp; </td>
			<td> <%= @salary_history.applicable_date.strftime("%d-%B-%Y") %></td>
		</tr>
		<tr>
			<td> <b> Nama Karyawan </b> </td>
			<td> &nbsp;<b> :</b>&nbsp; </td>
			<td> <%= "#{@salary_history.try(:user).try(:first_name)} #{@salary_history.try(:user).try(:last_name)}"%> </td>
		</tr>
		<tr>
			<td> <b> Besar Gaji </b> </td>
			<td> &nbsp;<b> :</b>&nbsp; </td>
			<td> <%= number_to_currency( @salary_history.payment, :unit => "Rp ") %></td>
		</tr>
		<tr>
			<td> <b> Biaya Lembur Siang </b> </td>
			<td> &nbsp;<b> :</b>&nbsp; </td>
			<td> <%= number_to_currency( @salary_history.day_payment_overtime, :unit => "Rp ") %></td>
		</tr>
		<tr>
			<td> <b> Biaya Lembur Siang </b> </td>
			<td> &nbsp;<b> :</b>&nbsp; </td>
			<td> <%= number_to_currency( @salary_history.night_payment_overtime, :unit => "Rp ") %></td>
		</tr>
	</table>
</div>

<% end%>

<% content_for :content_nav do %>
<%= link_to 'Ubah', edit_salary_history_path(@salary_history),:class=>'btn btn-primary' %>
<%= link_to 'Kembali', salary_histories_user_path(@salary_history.try(:user).try(:id) ), :class=>'btn btn-primary'%>
<% end%>
