<% content_for :content_title do %>
  Point
<% end%>

<% content_for :content_sub_title do %>
  Ranking
<% end%>

<% content_for :content_body do %>
  <% if Date.today == Date.today.end_of_month && @best_employee.present? %>
    Karyawan terbaik bulan <%= @best_employee.date.strftime('%B') %> adalah <b><%= @best_employee.user.full_name %></b>
  <% else %>
    <% if @last_best_employee.present? %>
      Karyawan terbaik bulan <%= @last_best_employee.date.strftime('%B') %> adalah <b><%= @last_best_employee.user.full_name %></b>
    <% end %>
  <% end %>
 <table style="text-align: center; width: 100%; ">
    <tr>
    <td align="right"><%= link_to "<< sebelumnya", point_histories_path(:search => @date - 1.month), class: "custom-link" %></td>
    <td style="text-align: center; width: 20%; "><h4><%= @date.strftime("%B-%Y") %></h4></td>
    <td align="left"><%= link_to "selanjutnya >>", point_histories_path(:search => @date + 1.month), class: "custom-link"%></td>
    </tr>
  </table>
  <style>
      table tr th, table tr td{text-align: center;}
    </style>
    <table class="table table-bordered">
      <tr>
        <th>No</th>
        <th>Name</th>
        <th>Point</th>
      </tr>
    <% @rankings.each_with_index do |history, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= link_to "#{history.first_name} #{history.last_name}".downcase.titleize, point_history_my_point_path(:point_history_id => history.id, :search => @date) %></td>
        <td><%= history.jumlah rescue 0 %></td>
      </tr>
    <% end %>
    </table>
<% end %>

<% content_for :content_nav do %>
    <% if Date.today == Date.today.end_of_month && !@best_employee.present? %>
      <%= link_to 'Generate Best Employee', generate_best_employee_point_histories_path, confirm: 'Generate Karyawan terbaik?', method: :post,:class => "btn btn-success" %>
    <% end %>
    <%= link_to "Ranking Tahun Ini", year_ranking_point_histories_path, :class => "btn btn-primary" %>
<% end %>
