<% content_for :content_title do %>
  Point
<% end%>

<% content_for :content_sub_title do %>
  Year Ranking
<% end%>

<% content_for :content_body do %>
 <table style="text-align: center; width: 100%; ">
    <tr>
    <td align="right"><%= link_to "<< sebelumnya", year_ranking_point_histories_path(:search => @date - 1.year), class: "custom-link" %></td>
    <td style="text-align: center; width: 20%; "><h4><%= @date.strftime("%Y") %></h4></td>
    <td align="left"><%= link_to "selanjutnya >>", year_ranking_point_histories_path(:search => @date + 1.year), class: "custom-link"%></td>
    </tr>
  </table>
  <style>
      table tr th, table tr td{text-align: center;}
    </style>
    <table class="table table-bordered">
      <tr>
        <th>No</th>
        <th>Name</th>
        <th>Point</th>
      </tr>
    <% @rankings.each_with_index do |history, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= link_to "#{history.first_name} #{history.last_name}".downcase.titleize, point_history_detail_year_path(history.id, :search => @date) %></td>
        <td><%= history.jumlah rescue 0 %></td>
      </tr>
    <% end %>
    </table>
<% end %>

<% content_for :content_nav do %>
    <%= link_to "Ranking Bulan Ini", point_histories_path, :class => "btn btn-primary" %>
<% end %>
