<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>
<script src="jquery.maskMoney.js" type="text/javascript"></script>

<%= form_for(@account_receivable, :html => { style: "text-align: left;"} ) do |f| %>
  <% if @account_receivable.errors.any? %>
    <div id="error_explanation">
          <div id="notice" class="alert alert-warning alert-dismissable">
            <i class="fa fa-exclamation"></i>
            <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
            <p ><%= notice %></p>
      <h2 align="center"><%= pluralize(@account_receivable.errors.count, "error") %> prohibited this account_receivable from being saved:</h2>

      <div align="center">
      <ul>
      <% @account_receivable.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
      </div>
    </div>
  <% end %>

    <div class="field" style="width: 35%; text-align: left;" >
    <%= f.label :peminjam %><br />
    <%= f.select :borrower_id, User.all.collect{|s| [s.first_name, s.id]}, class: "form-control"%>
        <%= f.hidden_field :borrower_type, value: "User", class: "form-control"%>
  </div>
    <div class="field" style="width: 35%; text-align: left;" >
    <%= f.label :title %><br />
    <%= f.text_field :title, class: "form-control"%>
  </div>
  <%= hidden_field_tag :debit, @debit %>

  <% if (@account_receivable.new_record? && @debit )|| (!@account_receivable.new_record? && @account_receivable.debit > 0) %>
    <div class="field" style="width: 35%; text-align: left;" >
      <%= f.label :credit %><br />
      <%= f.select "parent_id", credit_account %>
      <%= f.hidden_field :debit, :value => 0 %>
    </div>
    <div class="field" style="width: 35%; text-align: left;" >
      <%= f.label :debit %><br />
      <%= f.text_field :debit, "id" => "debit", class: "form-control" %>
      <%= f.hidden_field :credit, :value => 0 %>
    </div>
  <% else %>
    <div class="form-group" style="width: 35%;">
      <%= f.label :credit %><br />
      <%= f.text_field :credit, "id" => "credit", class: "form-control" %>
      <%= f.hidden_field :debit, :value => 0 %>
    </div>
  <% end %>


  <div class="form-group" style="width: 35%;">
  <%= f.label :date %>
  <div>
    <%= f.text_field :date, class: "form-control pull-right date_custom", :"data-date-format" => "yyyy-mm-dd"%></i><br>
  </div>
  </div>

  <div class="form-group" style="width: 35%;">
    <%= f.label :description %><br />
    <%= f.text_area :description, :colspan => "20", :rows => "10", class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script>
  $(function() {
      $("#credit, #debit").maskMoney({precision: 0});
  })
</script>
