<style type="text/css">
    th {
        text-align: center;
    }

    td {
        text-align: center;
    }
</style>
<% content_for :content_title do %>
  Piutang
<% end %>

<% content_for :content_body do %>

<table id="example2" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Debit</th>
      <th>Credit</th>
      <th>Description</th>
      <th>Date</th>
      <% if current_user.role.name == "admin" %> 
        <th colspan="2">
          Action
        </th>
      <% end %>
    </tr>
  </thead>

<% @account_receivables.each do |account_receivable| %>
  <tr>
    <td><%= link_to account_receivable.title, account_receivable %></td>
    <td><%= account_receivable.debit %></td>
    <td><%= account_receivable.credit %></td>
    <td><%= account_receivable.description %></td>
    <td><%= account_receivable.date %></td>
    <td colspan="2">
      <%= link_to '<small class="badge bg-green">Edit</small>'.html_safe,edit_account_receivable_path(account_receivable) %>&nbsp;&nbsp;&nbsp;
      <%= link_to '<small class="badge bg-red">Delete</small>'.html_safe, account_receivable, confirm: 'Are you sure?', method: :delete %>
    </td>
  </tr>
<% end %>
</table>
<br />
<% content_for :content_nav do %>
<%= link_to 'Debit', new_account_receivable_path(debit: true), :class=>'btn btn-primary' %>
<%= link_to 'Credit', new_account_receivable_path(credit: true), :class=>'btn btn-primary'  %>
<% end %>

<% end %>