<style type="text/css">
    th {
        text-align: center;
    }

    td {
        text-align: center;
    }
</style>
<% content_for :content_title do %>
  Piutang
<% end %>

<% content_for :content_sub_title do %>
  <b>
    <h3>Daftar Piutang</h3>
  </b>
<% end %>

<% content_for :content_body do %>

<table id="example2" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Peminjam</th>
      <th>Total</th>
      <th>Bayar</th>
      <th>Sisa</th>
    </tr>
  </thead>

<% @account_receivables.each do |account_receivable| %>
  <tr>
    <td><%= link_to "#{account_receivable.borrower.first_name} #{account_receivable.borrower.last_name}", account_receivable_users_path(account_receivable_id: account_receivable.borrower_id) rescue nil %></td>
    <td><%= number_to_currency(account_receivable.total, unit: "Rp. ") %></td>
    <td>
    <%= number_to_currency(account_receivable.xbayar, unit: "Rp. ") %></td>
    <td><%= number_to_currency(account_receivable.sisa, unit: "Rp. ") %></td>

    </td>
  </tr>
<% end %>
</table>
<br />
<% content_for :content_nav do %>
<%= link_to 'Debit', new_account_receivable_path(debit: true), :class=>'btn btn-secondary-success' %>
<%= link_to 'Credit', new_account_receivable_path(credit: true), :class=>'btn btn-secondary-danger'  %>
<% end %>

<% end %>
