<style type="text/css">
    td, h4, p {
        text-align: left;
    }
    th {
      text-align: center;
    }
</style>
<% content_for :content_body do %>

<% content_for :content_sub_title do %>
  <b>
    <h4>Rincian</h4>
  </b>
<% end %>

<table border="0">
<thead>
  <tr>
    <td><b>Title</b></td>
    <td>:&nbsp;<%= @account_receivable.title %></td>
  </tr>

  <tr>
    <td><b>Date</b></td>
    <td>:&nbsp;<%= @account_receivable.date %></td>
  </tr> 

  <tr>
    <td><b>Debit</b></td>
    <td>:&nbsp;Rp. <%= @account_receivable.debit %></td>
  </tr>

  <tr>
    <td><b>Credit</b></td>
    <td>:&nbsp;Rp. <%= @account_receivable.credit %></td>
  </tr>

  <tr>
    <td><b>Description</b></td>
    <td>:&nbsp;<%= @account_receivable.description %></td>
  </tr>
</thead>
</table>
<% end %>

<% content_for :content_body do %>
<br><table id="example2" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Tanggal</th>
      <th>Bayar</th>
    </tr>
  </thead>

<% @sisa=0 %>
<% @account_receivable.children.each do |child|  %>
  <tr>
    <td style="padding-left:  15px !important;" align="left"><%= child.title %></td>
    <td style="padding-left:  15px !important;" align="left"><%= child.date.strftime("%d %B %Y")%></td> 
    <td style="padding-left:  15px !important;" align="left">Rp. <%= child.debit %></td> 
  </tr>
  <% end %>
</table>
<br>

<p>
  <b>Sisa</b> : Rp. <% if (@account_receivable.credit - @account_receivables.sum(&:debit)) == 0 %>
  <b>Lunas</b>
<% else %>
  <%= @account_receivable.credit - @account_receivables.sum(&:debit) %>
<% end %>
</p>

<% end %>

<% content_for :content_nav do %>
<%= link_to 'Edit', edit_account_receivable_path(@account_receivable), :class=>'btn btn-primary' %>
<%= link_to 'Back', account_receivables_path, :class=>'btn btn-primary' %>
<% end %>
