<style type="text/css">
    td, h4, p {
        text-align: left;
    }
    th {
      text-align: center;
    }
</style>
<% content_for :content_body do %>

<% content_for :content_sub_title do %>
  <b>
    <h4>Rincian</h4>
  </b>
<% end %>

<table border="0">
<thead>
  <tr>
    <td><b>Title</b></td>
    <td>:&nbsp;<%= @account_receivable.title %></td>
  </tr>

  <tr>
    <td><b>Date</b></td>
    <td>:&nbsp;<%= @account_receivable.date %></td>
  </tr> 

  <tr>
    <td><b>Debit</b></td>
    <td>:&nbsp;<%= number_to_currency(@account_receivable.debit, unit: "Rp. ") %></td>
  </tr>

  <tr>
    <td><b>Credit</b></td>
    <td>:&nbsp;<%= number_to_currency(@account_receivable.credit, unit: "Rp. ") %></td>
  </tr>

  <tr>
    <td><b>Description</b></td>
    <td>:&nbsp;<%= @account_receivable.description %></td>
  </tr>
</thead>
</table>
<% end %>

<% content_for :content_body do %>
<br><table id="example2" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Tanggal</th>
      <th>Bayar</th>
    </tr>
  </thead>

<% @sisa=0 %>
<% @account_receivable.children.each do |child|  %>
  <tr>
    <td style="text-align: center;"><%= child.title %></td>
    <td style="text-align: center;"><%= child.date.strftime("%d %B %Y")%></td> 
    <td style="text-align: center;"><%= number_to_currency(child.debit, unit: "Rp. ") %></td> 
  </tr>
  <% end %>
</table>
<br>

<p>
  <b>Sisa Piutang</b> : <%= number_to_currency(@account_receivable.credit - @account_receivables.sum(&:debit), unit: "Rp. ") %><br>
<% if @account_receivable.credit - @account_receivables.sum(&:debit) == 0 %>
  <b>Keterangan</b>&nbsp;&nbsp;: Lunas 
<% else %>
  <b>Keterangan</b>&nbsp;&nbsp;: -
<% end %>
</p>

<% end %>

<% content_for :content_nav do %>
<%= link_to 'Edit', edit_account_receivable_path(@account_receivable), :class=>'btn btn-primary' %>
<%= link_to 'Back', account_receivables_path, :class=>'btn btn-primary' %>
<% end %>
