<p id="notice"><%= notice %></p>

<table>
	<tr>
		<td><strong>Nama Tunjangan</strong></td>
		<td>:</td>
		<td><%= @allowance_category.name %></td>
	</tr>
	<tr>
		<td><strong>Nama Kategori</strong></td>
		<td>:</td>
		<td><%= @allowance_sub_category.name %></td>
	</tr>
</table>

<%= link_to 'Ubah', edit_allowance_sub_category_path(@allowance_sub_category) %> |
<%= link_to 'Kembali', allowance_sub_categories_path %>