<style type="text/css">
  th {
    text-align: center;
  }
</style>

<% content_for :content_title do %>
  Karyawan
<% end%>

<% content_for :content_sub_title do %>
  Daftar Karyawan
<% end%>

<% content_for :content_body do %>

  <table id="example2" class="table table-bordered table-hover">

	<% @manage_users.each do |manage_user| %>
	<tr>
	  <td>
	  		<%= link_to manage_user_path(manage_user) do %>
		    <% if manage_user.avatar.exists? == false %>
                
                <img src="/assets/avatar3.png" class="img-circle" alt="User Image" height="115px" width="115px"/>
            <% else %>
                <%= image_tag manage_user.avatar.url(:small), :class => "img-circle",  
                :height => "115px", :width => "115px"%>
            <% end %>
                <% end %>

	  </td>
	  <td style="padding-left:	10px !important;" align="left">
	  <strong>Nama : </strong><br>
      <%= "#{manage_user.first_name} #{manage_user.last_name} ".titleize %><br>   
      <strong>No. Telepon :</strong><br>
	  <%= manage_user.telephone %><br>

	  <strong>E-Mail :</strong><br>
	  <%= manage_user.email %>
	  </td>

	  <td style="padding-left:	10px !important;" align="left">
	  <strong>Posisi :</strong>
	  <%= manage_user.position %><br>

	  <strong>Rekening :</strong>
		<br> No. Rekening&nbsp;: <%= manage_user.account_number %>
		<br> Nama Bank&nbsp;&nbsp;&nbsp;&nbsp;: <%= manage_user.bank_name %>
		<br> Cabang&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: <%= manage_user.account_branch_name %>
		<br> Nama Akun&nbsp;&nbsp;&nbsp;&nbsp;: <%= manage_user.account_name %>
	  </td>
	  <td>
	    <strong>Aksi :</strong><br>
		<div class="btn-group">
		  <button type="button" class="btn btn-info btn-flat">Action</button>
		  <button type="button" class="btn btn-info btn-flat dropdown-toggle" data-toggle="dropdown">
			<span class="caret"></span>
			<span class="sr-only">Toggle Dropdown</span>
		  </button>
		  <ul class="dropdown-menu" role="menu">
			<li><%= link_to 'Riwayat Gaji', salary_histories_user_path(manage_user.id) %></li>
			<li><%= link_to 'Ubah', edit_manage_user_path(manage_user) %></li>
			<li><%= link_to 'Hapus', manage_user_path(manage_user), confirm: 'Are you sure?', method: :delete %></li>
		  </ul>
		</div>

	  </td>
	</tr>
	<% end %>
  </table>
<% end%>

<% content_for :content_nav do %>
  <%= link_to 'Buat User', new_manage_user_path, :class=>'btn btn-primary'%>
<% end%>


