<h2 class="text-center">USERS</h2>

<table class="table tablesorter">
  <tr style="background-color: #222222; color:#fff">
    <th style="text-align: center" > Nama </th>
    <th style="text-align: center" > no. telepon </th>
    <th style="text-align: center" > Alamat </th>
    <th style="text-align: center" > Jabatan </th>
    <th style="text-align: center" > Aksi </th>
    
  </tr>

<% @manage_users.each do |manage_user| %>
  <tr>
    <td><%= manage_user.name %></td>
    <td><%= manage_user.telephone %></td>
    <td><%= manage_user.address %></td>
    <td><%= manage_user.role %></td>
    
      <td style="text-align: center"><%= link_to 'Lihat', manage_user_path(manage_user), :class=>'btn btn-info' %>  
        <%= link_to 'Ubah', edit_manage_user_path(manage_user), :class=>'btn btn-warning' %>  
        <%= link_to 'Hapus', manage_user_path(manage_user), :class=>'btn btn-danger', confirm: 'Are you sure?', method: :delete %>
      </td>
    
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Buat User', new_manage_user_path, :class=>'btn btn-primary'%>
