<style type="text/css">
  th {
    text-align: center;
  }
</style>

<% content_for :content_title do %>
Karyawan
<% end%>

<% content_for :content_sub_title do %>
Daftar Karyawan
<% end%>

<% content_for :content_body do %>

<table id="example2" class="table table-bordered table-hover">
  <tr>
    <th> Nama </th>
    <th> No. telepon </th>
    <th> Email </th>
    <th> Peran </th>
    <th> Aksi </th>
    
  </tr>

  <% @manage_users.each do |manage_user| %>
  <tr>
    <td><%= "#{manage_user.first_name} #{manage_user.mid_name} #{manage_user.last_name} "%></td>
    <td><%= manage_user.telephone %></td>
    <td><%= manage_user.email %></td>
    <td><%= manage_user.role.name rescue nil %></td>
    
    <td><%= link_to 'Lihat', manage_user_path(manage_user), :class=>'btn btn-info' %>  
      <%= link_to 'Ubah', edit_manage_user_path(manage_user), :class=>'btn btn-warning' %>  
      <%= link_to 'Hapus', manage_user_path(manage_user), :class=>'btn btn-danger', confirm: 'Are you sure?', method: :delete %>
    </td>
    
  </tr>
  <% end %>
</table>
<% end%>



<% content_for :content_nav do %>
<%= link_to 'Buat User', new_manage_user_path, :class=>'btn btn-primary'%>
<% end%>


