<% content_for :content_title do %>
Asuransi
<% end%>

<% content_for :content_sub_title do %>
Data Penerima
<% end%>

<% content_for :content_body do %>

<%= link_to 'Tambah Karyawan', add_employee_families_path, class: "btn btn-primary left" %>
<%= link_to 'Tambah Penerima', new_family_path, class: "btn btn-primary" %>

<table id="example2" class="table table-bordered table-hover">
  <tr>
    <th>Name</th>
    <th>Status</th>
    <th>Active</th>
    <th>Tahun</th>
    <th>Saldo RJ</th>
    <th colspan="4"></th>
</tr>

<% @families.each do |family| %>
<tr>
    <td align="left"><%= link_to family.name, reimbursement_list_claim_path(reimbursement_id: family.familyable_id) %>
    <td><%= family.status %></td>
    <td><%= family.is_active %></td>
    <td><%= family.year_insurances.active.first.year rescue nil %></td>
    <td><%= number_to_currency(family.year_insurances.active.first.saldo_rj, unit: "Rp. ", precision: 0)  rescue nil  %></td>
    <td><%= link_to 'Show', family %></td>
    <td><%= link_to 'Edit', edit_family_path(family) %></td>
    <td><%= link_to 'Add Penerima', new_family_path(parent_id: family.id) %></td>
    <td><%= link_to 'Generate', generate_year_family_path(family), confirm: 'Are you sure?', method: :delete, class: "btn btn-primary" %>
    </td>
</tr>
<% family.children.each do |child| %>
<tr>
    <td  align="left"<li>><%= child.name %></li></td>
    <td><%= child.status %></td>
    <td><%= child.is_active %></td>
    <td><%= child.year_insurances.active.first.year  rescue nil %></td>
    <td><%= number_to_currency(child.year_insurances.active.first.saldo_rj, unit: "Rp. ", precision: 0)  rescue nil %></td>
    <td><%= link_to 'Show', family_path(child) %></td>
    <td><%= link_to 'Edit', edit_family_path(child) %></td>
    <td><%= link_to 'Generate', generate_year_family_path(child), confirm: 'Are you sure?', method: :delete, class: "btn btn-primary" %>
    </td>
</tr>
<% end %>
<% end %>
</table>

<br />

<% end %>
