<style type="text/css">
  th {
    text-align: center;
  }
</style>

<% content_for :content_title do %>
Gaji
<% end%>

<% content_for :content_sub_title do %>
Data Riwayat Harga Lembur
<% end %>


<% content_for :content_body do %>
<table id="example2" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th > Tanggal </th>
      <th > Nama Karyawan </th>
      <th > Harga Lembur Siang </th>
      <th > Harga Lembur Malam </th>
      <th > Status </th>
      <th > Aksi </th>
    </tr>
  </thead>
  
  <tbody>
    <% @oph.each do |oph| %>
    <tr>
      <td><%= oph.applicable_date %></td>
      <td><%= "#{oph.try(:user).try(:first_name)} #{oph.try(:user).try(:mid_name)} #{oph.try(:user).try(:last_name)}" %></td>
      <td><%= number_to_currency( oph.day_payment, :unit => "Rp ") %></td>
      <td><%= number_to_currency( oph.night_payment, :unit => "Rp ") %></td>

      <% stat = nil %>
      <% if oph.activate == true  %>
      <% stat = "Aktif" %>
      <% else %>
      <% stat = "Tidak Aktif" %>
      <% end %>

      <td><%= stat  %></td>

      <td>
        <%= link_to 'Lihat', oph, :class=>'btn btn-info' %> 
        <%= link_to "<i class=\"icon-fire\"></i> Ubah".html_safe, edit_overtime_payment_history_path(oph), :class => "btn btn-warning" %>
        <%= link_to "<i class=\"icon-fire\"></i> Hapus".html_safe, oph, :class =>"icon-trash", :class => "btn btn-danger", confirm: 'Apa Anda Yakin?', method: :delete %>
        <% if oph.activate == false  %>
        <%= link_to 'Aktifkan', set_activation_overtime_payment_history_path(oph), :class=>'btn btn-primary'%>
        <% end %>

        
        
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<% content_for :content_nav do %>
<%= link_to 'Buat Harga Lembur', new_overtime_payment_history_path , :class=>'btn btn-primary'%>
<% end%>