<%= form_for(@claim_transaction) do |f| %>
  <% if @claim_transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@claim_transaction.errors.count, "error") %> prohibited this allowance from being saved:</h2>

      <ul>
      <% @claim_transaction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <table>
      <tr>
        <td>
          Tanggal
        </td>
        <td>
          <%= Date.today %>
        </td>
      </tr>
      
    </table>
    <%= f.submit %>
  </div>
<% end %>

