<%= form_for(@salary,:html => { style: "text-align: left;"}) do |f| %>
<% if @salary.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@salary.errors.count, "error") %> prohibited this salary from being saved:</h2>

  <ul>
    <% @salary.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="form-group" style="width: 25%">
  <label>Biaya Lain Lain:</label>
  <%= f.number_field :etc, class: "form-control", value: @salary.etc %>
</div>




<div class="actions">
  <%= f.submit %>
</div>
<% end %>
