<%= form_for(@salary,:html => { style: "text-align: left;"}) do |f| %>
<% if @salary.errors.any? %>
<div id="error_explanation">
  <div id="notice" class="alert alert-warning alert-dismissable">
            <i class="fa fa-exclamation"></i>
            <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
            <p ><%= notice %></p>
  <h3><%= pluralize(@salary.errors.count, "error") %> prohibited this salary from being saved:</h3>

  <ul>
    <% @salary.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
  </div>
</div>
<% end %>

<div class="form-group" style="width: 25%">
  <label>Biaya Lain Lain:</label>
  <%= f.number_field :etc, class: "form-control", value: @salary.etc %>
</div>




<div class="actions">
  <%= f.submit %>
</div>
<% end %>
