<style type="text/css">
  th {
    text-align: center;
  }
</style>

<% content_for :content_title do %>
Gaji
<% end%>

<% content_for :content_sub_title do %>
Data Penggajian
<% end%>

<% content_for :content_body do %>
<table id="example2" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th> Tanggal </th>
      <th>  Nama Karyawan </th>
      <th> Total Gaji </th>
      <th> Aksi </th>
    </tr>
  </thead>
  <tbody>
    <% @salaries.each do |salary| %>
    <tr>
      <td><%= salary.date.strftime("%d-%B-%Y") %></td>
      <td><%= "#{salary.try(:salary_history).try(:user).try(:first_name)} #{ salary.try(:salary_history).try(:user).try(:last_name)}" %></td>   
      <td>
      <% sp = salary.salary_history.payment %>
      <% tot = sp + salary.total_overtime_payment %>
      <%= tot %>
      </td>


      <td>
        <span class="pull-right">
          <%= link_to 'Lihat', salary, :class=>'btn btn-info' %>
          <%= link_to "<i class=\"icon-fire\"></i> Ubah".html_safe, edit_salary_path(salary), :class => "nyroModal btn btn-success" %>
          <%= link_to "<i class=\"icon-fire\"></i> Hapus".html_safe, salary, :class =>"icon-trash", :class => "btn btn-danger", confirm: 'Are you sure?', method: :delete %>
        </span>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>


<% end%>





<% content_for :content_nav do %>


<%= form_for :salary, url: salaries_path do |f| %>
<%= f.submit "Generate", :class=>'btn btn-primary'%>
<% end %>

<% end%>




