<!doctype html>
<html>
<head>
  <meta charset='utf-8' />
  <style type="">
	.table td,
	.table th {
	  background-color: #fff !important;
	}
	.table {
	  border-collapse: collapse !important;
	}
	.table {
	  width: 100%;
	  max-width: 100%;
	  margin-bottom: 20px;
	}
	.table > thead > tr > th,
	.table > tbody > tr > th,
	.table > tfoot > tr > th,
	.table > thead > tr > td,
	.table > tbody > tr > td,
	.table > tfoot > tr > td {
	  padding: 8px;
	  line-height: 1.42857143;
	  vertical-align: top;
	  border-top: 1px solid #ddd;
	}
	.table > thead > tr > th {
	  /*vertical-align: bottom;*/
	  border-bottom: 2px solid #ddd;
	  text-align: left !important;
	}
	.table > thead > tr > th.text-right {text-align: right !important;}
	.table > caption + thead > tr:first-child > th,
	.table > colgroup + thead > tr:first-child > th,
	.table > thead:first-child > tr:first-child > th,
	.table > caption + thead > tr:first-child > td,
	.table > colgroup + thead > tr:first-child > td,
	.table > thead:first-child > tr:first-child > td {
	  border-top: 0;
	}
	.table > tbody + tbody {
	  border-top: 2px solid #ddd;
	}
	.width50{width: 50%; border: none !important; padding: 4px !important;}
	.pr50 {padding-right: 50px !important; text-align: right;}
	span.title{width: 100px; display: inline-flex;}
    table {font-size: 14px !important;}
  </style>
</head>
<body>
  <div id="content">

	<table class="table">
	  <thead>

	  <tr>
		<th rowspan="2" class="tleft">
		  <%= wicked_pdf_image_tag 'pushjaw.png' %>
		</th>
		<th rowspan="2" class="tleft">
		  <strong>CV. PUSHJAW MEDIA INFORMATIKA</strong>
		  <br />
		  <span style="font-weight: normal;" >Kompleks Melong green garden, jl mig 3 no 1</span>
		  <br />
		  <span style="font-weight: normal;" >0226001425</span>
		</th>
		<th rowspan="2" colspan="2" class="text-right">
		  SLIP GAJI
		  <br />
		  <span style="font-weight: normal;" ><%= @salary.date.strftime("%d %B %Y") %></span>
		</th>
	  </tr>
	  </thead>
	  <tbody>
	  <tr>
		<th colspan="4">&nbsp;</th>
	  </tr>
	  <tr>
		<td colspan="2" class="text-left width50">
		  <span class="title">NAMA</span>
		  : <strong><%= "#{@salary.salary_history.user.first_name.try(:titleize)} #{@salary.salary_history.user.last_name.try(:titleize)}" %></strong>
		</td>
		<td colspan="2" class="text-left width50">
		  <span class="title">ALAMAT</span>
		  : <%= @salary.salary_history.user.address.try(:titleize) %>
		</td>
	  </tr>

	  <tr>
		<td colspan="2" class="text-left width50">
		  <span class="title">JABATAN</span>
		  : <%= @salary.salary_history.user.position.try(:titleize) %>
		</td>
		<td colspan="2" class="text-left width50">
		  <span class="title">TELEPON</span>
		  : <%= @salary.salary_history.user.telephone %>
		</td>
	  </tr>

	  </tbody>
	  <thead>
	  <tr>
		<th colspan="2" class="text-center"><strong>PENERIMAAN</strong></th>
		<th colspan="2" class="text-center"><strong>POTONGAN</strong></th>
	  </tr>
	  </thead>
	  <tbody>
	  <tr>
		<td class="text-left">Gaji Pokok</td>
		<td class="text-right pr50">
		  <%= number_to_currency(@salary.salary_history.payment, :unit => "Rp: ", precision: 0) %>
		</td>
		<td class="text-left">Jamsostek</td>
		<td class="text-right pr50"></td>
	  </tr>
	  <tr>
		<td class="text-left">Lembur</td>
		<td class="text-right pr50">
		  <%= number_to_currency(@salary.total_overtime_payment, :unit => "Rp: ", precision: 0) %>
		</td>
		<td colspan="2"></td>
	  </tr>
	  <tr>
		<td class="text-left">Tunjangan Jamsostek</td>
		<td class="text-right pr50">
		  <%= number_to_currency(@salary.salary_history.allowed_jamsostek ? @salary.jamsostek : 0, :unit => "Rp: ", precision: 0) %>
		  <%=  %>
		</td>
		<td colspan="2"></td>
	  </tr>
	  </tbody>
	  <thead>
	  <tr>
		<th class="text-left">Total Pendapatan</th>
		<th class="text-right pr50"><%= number_to_currency(@total_pendapatan, :unit => "Rp: ", precision: 0) %></th>
		<th class="text-left">Total Potongan</th>
		<th class="text-right pr50"><%= number_to_currency(@total_potongan, :unit => "Rp: ", precision: 0) %></th>
	  </tr>
	  <tr>
		<th class="text-left">Total Penerimaan</th>
		<th class="text-right pr50"><%= number_to_currency(@total_penerimaan, :unit => "Rp: ", precision: 0) %></th>
		<th colspan="2"></th>
	  </tr>
	  </thead>
	  <tbody>
	  <tr><td colspan="4" class="text-left width50">&nbsp;</td></tr>
	  <tr><td colspan="4" class="text-left width50">&nbsp;</td></tr>
	  <tr>
		<td colspan="2" class="text-left width50"></td>
		<td colspan="2" class="text-center width50">
		  Bandung, <%= Date.today.strftime("%d %B %Y") %>
		</td>
	  </tr>

	  <tr><td colspan="4" class="text-center width50">&nbsp;</td></tr>
	  <tr><td colspan="4" class="text-center width50">&nbsp;</td></tr>
	  <tr><td colspan="4" class="text-center width50">&nbsp;</td></tr>

	  <tr>
		<td colspan="2" class="text-center width50">&nbsp;</td>
		<td colspan="2" class="text-center width50">CV. PUSHJAW MEDIA INFORMATIKA</td>
	  </tr>

	  </tbody>

	</table>

  </div>
</body>
</html>

