<% content_for :content_title do %>
    Gaji
<% end %>

<% content_for :content_sub_title do %>
    Detail Gaji
<% end %>

<% content_for :content_body do %>

  <br /><br />
  <table class="table">
	<thead>
	  <tr><td colspan="4"><%= image_tag "pushjaw.png" %></td></tr>
	  <tr>
		<th colspan="2" class="tleft"><strong>PUSHJAW MEDIA INFORMATIKA</strong></th>
		<th colspan="2" class="text-right"><strong>SLIP GAJI</strong></th>
	  </tr>
	</thead>
	<tbody>
	  <tr>
		<td colspan="4" class="text-right"><strong><%= @salary.date.strftime("%B %Y") %></strong></td>
	  </tr>
	  <tr>
		<td colspan="2" class="text-left width50">
		  <span class="title">NAMA</span>
		  : <%= "#{@salary.salary_history.user.first_name.try(:titleize)} #{@salary.salary_history.user.last_name.try(:titleize)}" %>
		</td>
		<td colspan="2" class="text-left width50">
		  <span class="title">ALAMAT</span>
		  : <%= @salary.salary_history.user.address.try(:titleize) %>
		</td>
	  </tr>

	  <tr>
		<td colspan="2" class="text-left width50">
		  <span class="title">JABATAN</span>
		  : <%= @salary.salary_history.user.position.try(:titleize) %>
		</td>
		<td colspan="2" class="text-left width50">
		  <span class="title">TELEPON</span>
		  : <%= @salary.salary_history.user.telephone %>
		</td>
	  </tr>

	</tbody>
	<thead>
	  <tr>
		<th colspan="2" class="text-center"><strong>PENERIMAAN</strong></th>
		<th colspan="2" class="text-center"><strong>POTONGAN</strong></th>
	  </tr>
	</thead>
	<tbody>
	  <tr>
		<td class="text-left">Gaji Pokok</td>
		<td class="text-right pr50">
		  <%= number_to_currency(@salary.salary_history.payment, :unit => "Rp: ", precision: 0) %>
		</td>
		<td class="text-left">Potongan Lain</td>
				<td class="text-right pr50">
				<%= number_to_currency(@salary.potongan, :unit => "Rp: ", precision: 0) %></td>
				</tr>
		  <tr>
				<td class="text-left">Transport</td>
				<td class="text-right pr50">
		  	<%= number_to_currency(@salary.transport, :unit => "Rp: ", precision: 0) %>
				</td>
				<td class="text-left">Jamsostek</td>
				<td class="text-right pr50">
					<% if @salary.salary_history.allowed_jamsostek %>
				<% if @salary.salary_history.participate_jamsostek  %>
<%= number_to_currency(@salary.jamsostek, :unit => "Rp: ", precision: 0) %>
				<% end%>
<% end %>
				</td>
	  </tr>
	  <tr>
		<td class="text-left">Lembur</td>
		<td class="text-right pr50">
		  <%= number_to_currency(@salary.total_overtime_payment, :unit => "Rp: ", precision: 0) %>
		</td>
		<td colspan="2"></td>
	  </tr>
	  <tr>
		<td class="text-left">Tunjangan Jamsostek</td>
		<td class="text-right pr50">
		  <%= number_to_currency(@salary.salary_history.allowed_jamsostek ? @salary.jamsostek : 0, :unit => "Rp: ", precision: 0) %>
		  <%=  %>
		</td>
		<td colspan="2"></td>
	  </tr>
	   <tr>
		<td class="text-left">Pendapatan Lain</td>
		<td class="text-right pr50">
		  <%= number_to_currency(@salary.etc, :unit => "Rp: ", precision: 0) %>
		  <%=  %>
		</td>
		<td colspan="2"></td>
	  </tr>
	</tbody>
	<thead>
	  <tr>
		<th class="text-left">Total Pendapatan</th>
		<th class="text-right pr50"><%= number_to_currency(@total_pendapatan, :unit => "Rp: ", precision: 0) %></th>
		<th class="text-left">Total Potongan</th>
		<th class="text-right pr50"><%= number_to_currency(@total_potongan, :unit => "Rp: ", precision: 0) %></th>
	  </tr>
	  <tr>
		<th class="text-left">Total Penerimaan</th>
		<th class="text-right pr50"><%= number_to_currency(@total_penerimaan, :unit => "Rp: ", precision: 0) %></th>
		<th colspan="2"></th>
	  </tr>
	</thead>
	<tbody>
	  <tr><td colspan="4" class="text-left width50">&nbsp;</td></tr>
	  <tr><td colspan="4" class="text-left width50">&nbsp;</td></tr>
	  <tr>
		<td colspan="2" class="text-left width50"></td>
		<td colspan="2" class="text-center width50">
		  Bandung, <%= @salary.date.strftime("%d-%B-%Y") %>
		</td>
	  </tr>

	  <tr>
		<td colspan="2" class="text-center width50">&nbsp;</td>
		<td colspan="2" class="text-center width50">CV. PUSHJAW MEDIA INFORMATIKA</td>
	  </tr>

	</tbody>

  </table>

<% end %>

<% content_for :content_nav do %>
  <%= link_to 'Export PDF', salary_path(@salary, format: 'pdf'), :class => 'btn btn-primary' %>
  <%= link_to 'Kembali', salaries_path, :class => 'btn btn-primary' %>
<% end %>

