<style type="text/css">
  th {
    text-align: center;
  }
</style>

<table id="example2" class="table table-bordered table-hover">
  <tr>
    <th > Tanggal Pengajuan</th>
    <th > Kategori</th>
    <th > Lama </th>
    <th > Pesan </th>
    <th> Keterangan </th>
    <th> Aksi </th>
    
  </tr>

  <% get_absent_permissions.each  do |ap| %>
  <tr>
    <td> <%= ap.submission_date %> </td>
    <% if  ap.category == 1 %>
    <td> Izin </td>
    <% elsif ap.category == 2 %>
    <td> Cuti </td>
    <% end %>
    <td> <%= ap.long %> </td>
    <td> <%= ap.message %> </td> 
    <td> <%= ap.description %> </td> 
    <% if ap.status == 1%>
    <td> 
      <%= link_to 'Ambil', set_taken_absent_permission_path(ap), :class=>'btn btn-primary' %>
      <%= link_to 'Tolak', set_decline_absent_permission_path(ap), :class=>'btn btn-primary' %>
    </td>
    <%elsif ap.status == 2%>
    <td>
      <%= link_to 'Ubah', edit_absent_permission_path(ap), :class=>'btn btn-warning' %>
    </td>
    <% end %>
    
  </tr>
  
  <% end %>
  
</table>