


<%= form_for(@absent_permission,:html => { style: "text-align: left;"}) do |f| %>
<% if @absent_permission.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@absent_permission.errors.count, "error") %> prohibited this absent_permission from being saved:</h2>

  <ul>
    <% @absent_permission.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="form-group" style="width: 50%">
  <label>Name Pegawai:</label>
  <%= "#{current_user.first_name} #{current_user.last_name}"%>
  <% if current_user.role.name != "admin" %>
  <%= f.hidden_field :user_id, class: "form-control", value: current_user.id %>
  <% end %>
</div>

<div class="form-group" style="width: 50%">
  <label>Tanggal Pengajuan: </label>
  <%= Date.today.strftime("%d-%B-%Y") %>
  <% if current_user.role.name == "admin"%>
  <%= f.hidden_field :approval_date, class: "form-control", value: Date.today %>
  <%else%>
  <%= f.hidden_field :submission_date, class: "form-control", value: Date.today %>
  <% end %>
  
</div>



<div class="form-group" style="width: 50%">
  <label>Kategori:</label>
  <%= f.select :category, options_for_select([['Izin',1], ['Cuti',2]]),{}, class: "form-control"%>
</div>

<div class="form-group" style="width: 50%">
  <label >Untuk Tanggal:</label>
  <div class="input-group">
    <div class="input-group-addon">
      <i class="fa fa-calendar"></i>
    </div>
    <%= f.text_field :start_date, :placeholder=> "Dari Tanggal" , class: "form-control pull-right date_custom" %>
  </div>
</div>

<div class="form-group" style="width: 50%" id="end-date-space">
  <label>Sampai Tanggal:</label>
  <div class="input-group">
    <div class="input-group-addon">
      <i class="fa fa-calendar"></i>
    </div>
    <%= f.text_field :end_date, :placeholder=> "Dari Tanggal" , class: "form-control pull-right date_custom" %>
  </div>
</div>

<% status = nil%>
<% if current_user.role.name == "admin" %>
<div class="form-group" style="width: 50%">
  <label>Deskripsi:</label>
  <%= f.text_area :description, :cols => "30", :rows => "10", class: "form-control" %>
</div>
<% status = 2%>
<% else %>
<div class="form-group" style="width: 50%">
  <label>Pesan:</label>
  <%= f.text_area :message, :cols => "30", :rows => "10", class: "form-control" %>
</div>
<% status = 0%>
<% end %>

<%= f.hidden_field :status, value: status %>
<%= f.hidden_field :long %>

<div class="actions">
  <%= f.submit %>
</div>
<% end %>

