<% content_for :bottom_js do %>
    <%= javascript_include_tag "jquery.inputmask" %>
    <%= javascript_include_tag "jquery.inputmask.date.extensions" %>
    <%= javascript_include_tag "jquery.inputmask.extensions" %>
    <%= javascript_include_tag "call_datepicker" %>
    <%= javascript_include_tag "index_allowance" %>
<% end%>


<% content_for :content_title do %>
Tunjangan
<% end%>

<% content_for :content_sub_title do %>
Data Tunjangan
<% end%>

<% content_for :content_body do %>
<div class="span5" style="float:left;padding-left: 20px;">

</div>
<div class="span4" style="float:right;padding-right: 20px;">
 <%= select_tag(:allowance_category_id, options_for_select(@allowance_categories, @allowance.try(:allowance_sub_category).try(:allowance_category_id)), style: "display:none;") %>
 <%= select_tag(:allowance_sub_category_id, options_for_select(@allowance_sub_categories), style: "display:none;") %>

 <%= form_tag allowances_path, :method => 'get' do %>
 <%= text_field_tag :search, nil ,class: "form-control"%>
 <%= select_tag(:search_by, options_for_select([['Tampilkan Semua', 0],['Nama Karyawan', 1], ['Kategori Tunjangan', 2],['Sub Kategori', 3]]), :id=>'search_categories',class: "form-control") %>
 <%= submit_tag "Cari", :name => nil, class: "btn btn-default" %>

 <% end %>
</div>


<%= render partial: "list" %>
<% end%>

<% content_for :content_nav do %>
<%= link_to 'Buat Tunjangan', new_allowance_path, :class=>'btn btn-primary' %>
<% end%>


