<% content_for :content_title do %>
Kehadiran
<% end%>

<% content_for :content_sub_title do %>
Detail Kehadiran
<% end%>

<% content_for :content_body do %>
<div align="left">
	
	<table>
	<tr>
		<td><b> Nama Karyawan </b></td>
		<td>:</td>
		<td><%= @user.email %></td>
	</tr>

	<tr>
		<td><b>Jenis Tunjangan</b></td>
		<td>:</td>
		<td><%= @allowance_sub_category.name %></td>
	</tr>

	<tr>
		<td><b>Besar Dana</b></td>
		<td>:</td>
		<td><%= @allowance.value %></td>
	</tr>

	


</table>
</div>
<% end%>

<% content_for :content_nav do %>
<%= link_to 'Ubah', edit_allowance_path(@allowance), :class=>'btn btn-primary' %> 
<%= link_to 'Kembali', allowances_path, :class=>'btn btn-primary' %>
<% end%>


