<h2 class="text-center">TUNJANGAN</h2>

<table>
	<tr>
		<td>Nama Karyawan</td>
		<td>:</td>
		<td><%= @user.email %></td>
	</tr>

	<tr>
		<td>Jenis Tunjangan</td>
		<td>:</td>
		<td><%= @allowance_sub_category.name %></td>
	</tr>

	<tr>
		<td>Besar Dana</td>
		<td>:</td>
		<td><%= @allowance.value %></td>
	</tr>

	


</table>
<%= link_to 'Ubah', edit_allowance_path(@allowance), :class=>'btn btn-primary' %> 
<%= link_to 'Kembali', allowances_path, :class=>'btn btn-primary' %>