<%= form_for(@role,:html => { style: "text-align: left;"} ) do |f| %>
<% if @role.errors.any? %>
<div id="error_explanation">
  <div id="notice" class="alert alert-warning alert-dismissable">
            <i class="fa fa-exclamation"></i>
            <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
            <p ><%= notice %></p>
  <h3><%= pluralize(@role.errors.count, "error") %> tprohibited this role from being saved:</h3>

  <ul>
    <% @role.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
  </div>
</div>
<% end %>

<div class="form-group" style="width: 50%">
  <label>Nama Peran:</label>
  <%= f.text_field :name, class: "form-control", required: true %>
</div>
  <%= f.submit btn_title, :class=>'btn btn-default' %>

<% end %>
