<% content_for :content_title do %>
Peran
<% end%>

<% content_for :content_sub_title do %>
Daftar Peran
<% end%>

<% content_for :content_body do %>
<table id="example2" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>No</th>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% i = 0%>
  <% @roles.each do |role| %>
  <tr>
    <td><%= i+1 %></td>
    <td><%= role.name.downcase.titleize %></td>
    <td><%= link_to 'Lihat', role, :class=>'btn btn-info' %> <%= link_to 'Ubah', edit_role_path(role) , :class=>'btn btn-warning' %> <%= link_to 'Hapus', role, :class=>'btn btn-danger', confirm: 'Are you sure?', method: :delete %></td>
  </tr>
  <% end %>
  </tbody>
</table>
<% end%>

<% content_for :content_nav do %>
<%= link_to 'Buat Peran', new_role_path, :class=>'btn btn-primary' %>
<% end%>




