<%= form_for(@overtime) do |f| %>
  <% if @overtime.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@overtime.errors.count, "error") %> prohibited this overtime from being saved:</h2>

      <ul>
      <% @overtime.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br />
    <%= f.text_field :date, :placeholder=> "Tanggal" , class: "from-date" %>
  </div>
  <div class="field">
    <%= f.label :long_overtime %><br />
    <%= f.number_field :long_overtime %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
