<%= form_for(@overtime,:html => { style: "text-align: left;"}) do |f| %>
<% if @overtime.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@overtime.errors.count, "error") %> prohibited this overtime from being saved:</h2>

  <ul>
    <% @overtime.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>


<div class="form-group" style="width: 50%">
  <label>Tanggal:</label>
  <div class="input-group">
    <div class="input-group-addon">
      <i class="fa fa-calendar"></i>
    </div>
    <%= f.text_field :date, :placeholder=> "Tanggal" , class: "form-control pull-right date_custom" %>
  </div>
</div>


<div class="bootstrap-timepicker" style="width: 50%">
  <div class="form-group">
    <label>Time picker:</label>
    <div class="input-group">
      <%= f.text_field :start_time, class: "form-control timepicker test" %>
      <div class="input-group-addon">
        <i class="fa fa-clock-o"></i>
      </div>
    </div><!-- /.input group -->
  </div><!-- /.form group -->
</div>

<div class="form-group" style="width: 50%">
  <label>Deskripsi:</label>
  <%= f.text_area :description, :cols => "30", :rows => "10", class: "form-control" %>
</div>

<%= f.hidden_field :user_id, :value => current_user.id %>

<%= f.submit nil, :class=>'btn btn-default' %>








<% end %>
