<%= form_tag overtimes_path, :method => 'get' do %>
  <table>
	  <tr>
		  <td>
			  <div class="form-group">
				  <%= select_tag(:user_id, options_for_select(@users), class: "form-control") %>
				  <%= hidden_field_tag(:year, @start_date.year) %>
				  <%= hidden_field_tag(:month, @start_date.month) %>
			  </div>
		  </td>
		  <td>
			  <div class="form-group">
				  <%= submit_tag "Cari", :name => nil, :class=>'btn btn-default' %>
			  </div>
		  </td>
	  </tr>
  </table>
<% end %>