<style type="text/css">
  th {
    text-align: center;
  }
</style>

<% content_for :content_title do %>
Gaji
<% end%>

<% content_for :content_sub_title do %>
Data Riwayat Penggajian
<% end%>

<% content_for :content_body do %>
<table id="example2" class="table table-bordered table-hover">
<thead>
  <tr>
    <th> Tanggal </th>
    <th>  User ID </th>
    <th> Lama Lembur </th>
    
    <th> Aksi </th>
  </tr>
</thead>
<tbody>
  <% @overtimes.each do |overtime| %>
  <tr>
    <td><%= overtime.date.strftime("%d-%B-%Y") %></td>
    <td><%= overtime.user_id %></td>
    <td><%= overtime.long_overtime %></td>
    <td>
      <span class="pull-right">
        <%= link_to 'Lihat', overtime, :class=>'btn btn-info' %> 
        <%= link_to "<i class=\"icon-fire\"></i> Ubah".html_safe, edit_overtime_path(overtime), :class => "btn btn-warning" %>
        <%= link_to "<i class=\"icon-fire\"></i> Hapus".html_safe, overtime, :class =>"icon-trash", :class => "btn btn-danger", confirm: 'Are you sure?', method: :delete %>
      </span>
    </td>
  </tr>
  <% end %>
  </tbody>
</table>
<% end %>

<% content_for :content_nav do %>
<%= link_to 'Buat Data Lembur', new_overtime_path, :class=>'btn btn-primary' %>
<% end%>


