
<style type="text/css">
  th {
    text-align: center;
  }
</style>

<% nominal = 0 %>
<% approved_nominal = 0 %>


<table id="example2" class="table table-bordered table-hover">
  <tr>
    <th > Tanggal Pengajuan</th>
    <th > Tanggal Penyetujuan</th>
    <th > Tunjangan </th>
    <th > Besar Dana </th>
    <th> Keterangan </th>
    <th> Aksi </th>
  </tr>

  <% get_allowance_claim_transaction.each  do |claim| %>
  <tr>
    <td> <%= claim.submission_date.strftime("%d-%B-%Y") %> </td>
    <% if claim.status == 0 %>
    <td>  </td>
    <% else %>
    <td> <%= claim.approval_date.strftime("%d-%B-%Y") %> </td>
    <% end %>
    

    <td> <%= claim.try(:allowance).try(:allowance_sub_category).try(:name) %> </td>
    <td> <%= claim.nominal %> </td> 
    <td> <%= claim.description %> </td> 
    <td> 
      <% if claim.status == 3 %>
      <%= link_to 'Ubah', edit_allowance_claim_transaction_path(claim,nominal: nominal), :class=>'btn btn-warning', remote: true  %> 
      <% end %>

    </td> 
  </tr>
  <% nominal = nominal +  claim.nominal %>
  <% if claim.status == 1 %>
  <% approved_nominal = approved_nominal +  claim.nominal %>
  <% end %>
  <% end %>
  <tr>
    <td colspan="2">Total </td>
    <td id="nominal"><%= nominal %></td>
    <td></td>
    <td></td>
  </tr>
</table>


<!-- Button trigger modal -->
<button class="btn btn-primary" data-toggle="modal" data-target="#myModal">
  Tambah Sub Kaetgori
</button>
<%= link_to 'Kembali', allowance_claim_transactions_path, :class=>'btn btn-primary' %>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <%= render partial: 'form', locals: {nominal: approved_nominal} %>
      </div>
      
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->