<%= form_for(@allowance_claim_transaction) do |f| %>
  <% if @allowance_claim_transaction.errors.any? %>
    <div id="error_explanation">
      <div id="notice" class="alert alert-warning alert-dismissable">
            <i class="fa fa-exclamation"></i>
            <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
            <p ><%= notice %></p>
      <h3><%= pluralize(@allowance_claim_transaction.errors.count, "error") %> prohibited this allowance_claim_transaction from being saved:</h3>

      <ul>
      <% @allowance_claim_transaction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
      </div>
    </div>
  <% end %>

  <div class="actions">
    <table>
      <tr>
        <td>
          Pegawai
        </td>
        <td>
          <%= current_user.email %>
          
        </td>
      </tr>


      <tr>
        <td>
          
          <%= hidden_field :totalnominal, :value => nominal %>
        </td>
        <td>
          <%= Date.today.strftime("%d-%B-%Y") %>
          <%= f.hidden_field :submission_date, :value => Date.today %>
        </td>
      </tr>
    
      <tr>
        <td>
          Kategori
        </td>
        <td>
           <%= select_tag(:allowance_category_id, options_for_select(@allowance_categories))%>
        </td>
      </tr>

      <tr>
        <td>
          Sub Kategori
        </td>
        <td>
          <%= f.select :allowance_id, options_for_select(@allowance.uniq)%>
        </td>
      </tr>

      <tr>
        <td>
          Bukti Transaksi
        </td>
        <td>
          
        </td>
      </tr>

      <tr>
        <td>
          Besar Dana
        </td>
        <td>
          <%= f.number_field :nominal , :placeholder=> 'Besar Dana', :class=> 'form-control'%>
          <%= f.hidden_field :status , :value => 0%>
        </td>
      </tr>

      
      <tr>
        <td>
        </td>
        <td align="right">
          <%= f.submit nil, :class=>'btn btn-default' %>
        </td>
      </tr>
    </table>
    
  </div>
<% end %>



