<div id='will_paginate_id'> 
	
</div>

<%= select_tag("allowance_sub_category_#{tab_cat}", options_for_select(@allowance_sub_category), style: "display:none;") %>



<%= form_tag allowance_claim_transactions_path, :method => 'get' do %>
	
	<%= text_field_tag "search[from_#{tab_cat}]", nil, :placeholder=> "Dari" , class: "from-date", style: "display:none;" %>
	<%= text_field_tag "search[to_#{tab_cat}]", nil, :placeholder=> "Sampai" , class: "to-date", style: "display:none;" %>


	<%= text_field_tag "search[#{tab_cat}]" %>
	<%= hidden_field_tag "search[status]", "#{tab_cat}" %>

	<% if tab_cat == "pending" %>
		<%= select_tag("search[by_#{tab_cat}]", options_for_select([['Tampilkan Semua', 0],['Nama Karyawan', 1],['Kategori Tunjangan', 2], ['Tanggal Pengajuan', 3]]), :id=>"search_categories_#{tab_cat}") %>
	<% else %>
		<%= select_tag("search[by_#{tab_cat}]", options_for_select([['Tampilkan Semua', 0],['Nama Karyawan', 1],['Kategori Tunjangan', 2], ['Tanggal Pengajuan', 3], ['Tanggal Persetujuan',4]]), :id=>"search_categories_#{tab_cat}") %>
	<% end %>
	<%= submit_tag "Cari", :name => nil %>
<% end %>