<% content_for :bottom_js do %>
	<%= javascript_include_tag "index_claim_trans" %>
<% end%>

<style>
	#myTab li a:hover, #myTab li a:active, #myTab li a:focus { color:black; }

</style>
<h2 class="text-center">TRANSAKSI TUNJANGAN</h2>

<%= debug  @allowance_claim_transaction[:x]  %>

<ul class="nav nav-tabs" id="myTab">
	<li class="active"><a href="#pending">Daftar Transaksi Tertunda</a></li>
	<li><a href="#approved">Daftar Transaksi Tersetujui</a></li>
	<li><a href="#rejected">Daftar Transaksi Tertolak</a></li>
	<li><a href="#revision">Daftar Transaksi Revisi</a></li>
</ul>

<div class="tab-content">
	<div class="tab-pane active" id="pending">
		<!-- pendding transaction list -->
		<%= render partial: "search_list", locals: { tab_cat: "pending"} %>
		<%= render partial: "claim_transaction_list", locals: { allowance_claim_transaction:  @allowance_claim_transaction[:pendings] } %>
		<!-- pendding transaction list -->
	</div>

	<div class="tab-pane" id="approved">
		<!-- approved transaction list -->
		<%= render partial: "search_list", locals: { tab_cat: "approved"} %>
		<%= render partial: "claim_transaction_list", locals: { allowance_claim_transaction:  @allowance_claim_transaction[:approveds] } %>
		<!-- approved transaction list -->
	</div>
	
	<div class="tab-pane" id="rejected">
		<!-- rejected transaction list -->
		<%= render partial: "search_list", locals: { tab_cat: "rejected"} %>
		<%= render partial: "claim_transaction_list", locals: { allowance_claim_transaction:  @allowance_claim_transaction[:rejecteds] } %>
		<!-- rejected transaction list -->
	</div>

	<div class="tab-pane" id="revision">
		<!-- revision transaction list -->
		<%= render partial: "search_list", locals: { tab_cat: "revision"} %>
		<%= render partial: "claim_transaction_list", locals: { allowance_claim_transaction:  @allowance_claim_transaction[:revisions] } %>
		<!-- revision transaction list -->
	</div>

</div>

<br />