<style>
  #myTab li a:hover, #myTab li a:active, #myTab li a:focus { color:black; }

</style>

<% content_for :bottom_js do  %>
<%= javascript_include_tag "new_claim_trans"%>
<% end %>

<% content_for :content_title do %>
Tunjangan
<% end%>

<% content_for :content_sub_title do %>
Transaksi Tunjangan
<% end%>

<% content_for :content_body do %>
<ul class="nav nav-tabs" id="transactionTab">
  <li class="active"><a href="#approved">Daftar Transaksi Tersetujui</a></li>
  <li><a href="#rejected">Daftar Transaksi Tertolak</a></li>
  <li><a href="#pending">Daftar Transaksi Tertunda</a></li>
  <li><a href="#revision">Daftar Transaksi Revisi</a></li>
  
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="approved">
    <!-- approved transaction list -->
    <%= render partial: "search_claim_history_list", locals: { tab_cat: "approved"} %>
    <%= render partial: "claim_transaction_history_list", locals: { get_allowance_claim_transaction: @get_allowance_claim_transaction[:approveds]} %>
    <!-- approved transaction list -->
  </div>

  <div class="tab-pane" id="rejected">
    <!-- rejected transaction list -->
    <%= render partial: "search_claim_history_list", locals: { tab_cat: "rejected"} %>
    <%= render partial: "claim_transaction_history_list", locals: {get_allowance_claim_transaction: @get_allowance_claim_transaction[:rejecteds]} %>
    <!-- rejected transaction list -->
  </div>

  <div class="tab-pane" id="pending">
    <!-- pending transaction list -->
    <%= render partial: "search_claim_history_list", locals: { tab_cat: "pending"} %>
    <%= render partial: "claim_transaction_history_list", locals: { get_allowance_claim_transaction: @get_allowance_claim_transaction[:pendings]} %>
    <!-- pending transaction list -->
  </div>

  <div class="tab-pane" id="revision">
    <!-- revision transaction list -->
    <%= render partial: "search_claim_history_list", locals: { tab_cat: "revision"} %>
    <%= render partial: "claim_transaction_history_list", locals: { get_allowance_claim_transaction: @get_allowance_claim_transaction[:revisions]} %>
    <!-- revisi transaction list -->
  </div>
  
</div>
<% end%>

<% content_for :content_nav do %>

<% end%>






























