<%= form_for(@account_payable) do |f| %>
  <% if @account_payable.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@account_payable.errors.count, "error") %> prohibited this account_payable from being saved:</h2>

      <ul>
      <% @account_payable.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :time %><br />
    <%= f.text_field :time %>
  </div>
  <div class="field">
    <%= f.label :debit %><br />
    <%= f.number_field :debit %>
  </div>
  <div class="field">
    <%= f.label :credit %><br />
    <%= f.number_field :credit %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :date %><br />
    <%= f.datetime_select :date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
