<%= form_for(@account_payable) do |f| %>
  <% if @account_payable.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@account_payable.errors.count, "error") %> prohibited this account_payable from being saved:</h2>

      <ul>
      <% @account_payable.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group" style="width: 20%; text-align: left;">
  <label>Date:</label>
  <div class="input-group">
    <div class="input-group-addon">
      <i class="fa fa-calendar"></i>
    </div>
    <%= f.text_field :date, :placeholder=> "Date" , class: "form-control pull-right date_custom", :"data-date-format" => "dd-mm-yyyy" %>
  </div>
</div>

<div class="form-group" style="width: 50%; text-align: left;" >
    <%= f.label :title %> :<br />
    <%= f.text_field :title %> <br />
  </div>
 <%= hidden_field_tag :credit, @credit %>
 <% if @credit %>
  <div class="form-group" style="width: 50%; text-align: left;" >
    <%= f.label :debit %><br />
    <%= f.select "parent_id", debit_account %>
    <%= f.hidden_field :credit, :value => 0 %>
  </div>
<div class="form-group" style="width: 50%; text-align: left;" >
    <%= f.label :credit %> :<br />
    <%= f.number_field :credit %>
    <%= f.hidden_field :debit, :value => 0 %>
  </div>
  <% else %>
    <div class="form-group" style="width: 50%; text-align: left;" >
    <%= f.label :debit %> :<br />
    <%= f.number_field :debit %>
    <%= f.hidden_field :credit, :value => 0 %>
  </div>
  <% end %>

  <div class="form-group" style="width: 50%; text-align: left;" >
    <%= f.label :description %> :<br />
    <%= f.text_area :description, :cols => "30", :rows => "10", class: "form-control" %>
  </div>

   <div class="form-group" style="width: 50%; text-align: left;" >
    <%= f.submit %>
  </div>  
<% end %>




