<style>
  table tr th, table tr td{text-align: center;}
</style>

<h1>Listing account_payables</h1>
<table class="table table-bordered">
    </tr>
    <tr>
    <th>Date</th>
    <th>Title</th>
    <th>Debit</th>
    <th>Credit</th>
    <th>Description</th>
    <th colspan ="3">Action</th>
  </tr>
<% @account_payables.each do |account_payable| %>
  <tr>
   <td><%= account_payable.date.strftime("%d-%B-%Y") %></td>
   <%if account_payable.parent_id %>
    <td><%= account_payable.parent.title %></td>
    <% else %>
     <td><%= account_payable.title %></td>
    <% end %>
    <td><%= account_payable.debit %></td>
    <td><%= account_payable.credit %></td>
    <td><%= account_payable.description %></td>
    <td><%= link_to 'Show', account_payable %></td>
    <td><%= link_to 'Edit', edit_account_payable_path(account_payable) %></td>
    <td><%= link_to 'Destroy', account_payable, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Debit', new_account_payable_path(debit: true) %>
<%= link_to 'Credit', new_account_payable_path(credit: true) %>
