<% content_for :content_body do %>
<p id="notice"><%= notice %></p>

<p style = "text-align: left; !important">
  <b>Date:</b>
  <%= @account_payable.date %>
</p>

<p style = "text-align: left; !important">
  <b>Title:</b>
  <%= @account_payable.title %>
</p>

<p style = "text-align: left; !important">
  <b>Debit:</b>
  <%= number_to_currency(@account_payable.debit, unit: "Rp. ")  %>
</p>

<p style = "text-align: left; !important">
  <b>Credit:</b>
  <%= number_to_currency(@account_payable.credit, unit: "Rp. ") %>
</p>

<p style = "text-align: left; !important">
  <b>Description:</b>
  <%= @account_payable.description %>
</p>
<% end %>



<style>
  table tr th, table tr td{text-align: center;}
</style>

<% content_for :content_body do %>
<h1>Listing Hutang</h1>
<table class="table table-bordered table-bordered table-hover">
    </tr>
    <tr>
    <th>Date</th>
    <th>Title</th>
    <th>bayar hutang</th>
  </tr>
<% @sisa_hutang = 0 %>
<% @account_payables.each do |account_payable| %>
  <tr>
   <td><%= account_payable.date.strftime("%d-%B-%Y") %></td>
   <%if account_payable.parent_id %>
    <td><%= account_payable.parent.title %></td>
    <% else %>
     <td> <%= account_payable.title %></td>
    <% end %>
    <td> <%= number_to_currency(account_payable.credit, unit: "Rp. ") %></td>
  </tr>
<% end %>
  <th></th>
  <th></th>
  <th style = "text-align: left; !important"> Total pembayaran hutang : </th>
  <tr>
  <td></td>
  <td></td>
  <td> <%= number_to_currency(@account_payables.sum(&:credit), unit: "Rp. ") %></td>

  </tr>
</table>
<% end %>


<% sisa = @account_payable.debit - @account_payables.sum(&:credit) %>
<b> keterangan </b>
<br/>
<b> Sisa pembayaran hutang: </b> 
<%if sisa == 0 %>
lunas
<%else%>
 <%= number_to_currency(sisa, unit: "Rp. ")  %>
<%end%>

<br />
<br />



<%= link_to 'Edit', edit_account_payable_path(@account_payable), :class=>'btn btn-primary' %> |
<%= link_to 'Back', account_payables_path, :class=>'btn btn-primary' %>

