<style type="text/css">
    td, h4, p {
        text-align: left;
    }
    th {
      text-align: center;
    }
</style>

<% content_for :content_body do %>
<table border="0">
<thead>
  <tr>
    <td><b>Date</b></td>
    <td>: <%= @account_payable.date %></td>
  </tr>

  <tr>
    <td><b>Title</b></td>
    <td>: <%= @account_payable.title %></td>
  </tr>

  <tr>
    <td><b>Debit</b></td>
    <td>: <%= number_to_currency(@account_payable.debit, unit: "Rp. ") %></td>
  </tr>

  <tr>
    <td><b>Credit</b></td>
    <td>: <%= number_to_currency(@account_payable.credit, unit: "Rp. ") %></td>
  </tr>

  <tr>
    <td><b>Description</b></td>
    <td>: <%= @account_payable.description %></td>
  </tr>
  </thead>
  </table>
<% end %>

<% content_for :content_body do %>
<h1>Daftar Hutang</h1>
<table id="example2" class="table table-bordered table-bordered table-hover">
  <thead>
    </tr>
      <tr>
      <th>Date</th>
      <th>Title</th>
      <th>Bayar Hutang</th>
    </tr>
  </thead>

<% @sisa_hutang = 0 %>
<% @account_payables.each do |account_payable| %>
  <tr>
   <td style="text-align: center;"><%= account_payable.date.strftime("%d-%B-%Y") %></td>
   <%if account_payable.parent_id %>
    <td style="text-align: center;"><%= account_payable.parent.title %></td>
    <% else %>
     <td style="text-align: center;"> <%= account_payable.title %></td>
    <% end %>
    <td style="text-align: center;"> <%= number_to_currency(account_payable.credit, unit: "Rp. ") %></td>
  </tr>
<% end %>
  <tr>
  <th colspan="2"><b>Total pembayaran hutang :</b></th>
  <th> <%= number_to_currency(@account_payables.sum(&:credit), unit: "Rp. ") %></th>
  </tr>
</table>
<br>
<p>
  <% sisa = @account_payable.debit - @account_payables.sum(&:credit) %>
<b> Keterangan </b>
<br/>
<b> Sisa pembayaran hutang: </b> 
  <%if sisa == 0 %>
    lunas
  <%else%>
   <%= number_to_currency(sisa, unit: "Rp. ")  %>
  <%end%>
<% end %>

<% content_for :content_nav do %>
<%= link_to 'Edit', edit_account_payable_path(@account_payable), :class=>'btn btn-primary' %> 
<%= link_to 'Back', account_payables_path, :class=>'btn btn-primary' %>
<% end %>
