<h2> Credit </h2>
<%= form_for @new_credit, url: credit_transactions_path do |f| %>
  <div id="notice" class="alert alert-warning alert-dismissable">
            <i class="fa fa-exclamation"></i>
            <button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>
            <p ><%= notice %></p>
  <% @new_credit.errors.full_messages.each do |msg| %>
    <p><%= msg %></p>
  <% end %>
  </div>
  <p>
    <%= f.label :date %>
    <%= f.text_field :date, :value => Time.now %>
  </p>

  <p>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </p>

  <p>
    <%= f.label :value %>
    <%= f.text_field :value %>
  </p>

  <p>
    <%= f.submit value="Credit", :class => "btn btn-primary" %>

	<%= link_to 'Back', transactions_path, :class => "btn" %>
  </p>
<% end %>

<script>
  $(document).ready(function(){
    $('#transaction_date').datepicker({
      format: 'dd/MM/yyyy'
    });
  });
</script>
