<%= form_for(@absent,:html => { style: "text-align: left;"} ) do |f|  %>
  <% if @absent.errors.any? %>
  <div id="error_explanation">
	<h2><%= pluralize(@absent.errors.count, "error") %> prohibited this absent from being saved:</h2>

	<ul>
	  <% @absent.errors.full_messages.each do |msg| %>
	  <li><%= msg %></li>
	  <% end %>
	</ul>
  </div>
  <% end %>

  <div class="form-group" style="width: 50%">
	<label>Tanggal:</label>
	<div class="input-group">
	  <div class="input-group-addon">
		<i class="fa fa-calendar"></i>
	  </div>
	  <%= f.text_field :date, :placeholder=> "Tanggal" , class: "form-control date_custom", :"data-date-format" => "yyyy-mm-dd" %>
	</div>
  </div>

  <div class="form-group" style="width: 50%">
	<label>Karyawan:</label>
	<%= f.select :user_id, options_for_select(@users, @absent.user_id), {}, {class: "form-control", required: true}%>
  </div>

  <div class="form-group" style="width: 50%">
	<label>Kategori:</label>
	<%= f.select :categories, options_for_select([['Masuk',1],['Alfa',2], ['Izin',3], ['Sakit',4]], @absent.try(:categories)),{}, class: "form-control", required: true%>
  </div>

  <div class="bootstrap-timepicker absent-time" style="width: 50%">
	<div class="form-group">
	  <label>Jam Masuk:</label>
	  <div class="input-group">
		<%= f.text_field :time_in, value: (@absent.time_in.present? ? @absent.time_in.strftime("%H:%M") : Time.now.strftime("%I:%M %p")), class: "form-control timepicker" %>
		<div class="input-group-addon">
		  <i class="fa fa-clock-o"></i>
		</div>
	  </div>
	</div>
  </div>

  <div class="bootstrap-timepicker absent-time" style="width: 50%">
	<div class="form-group">
	  <label>Jam Keluar:</label>
	  <div class="input-group">
		<%= f.text_field :time_out, value: (@absent.time_out.present? ? @absent.time_out.strftime("%H:%M") : Time.now.strftime("%I:%M %p")), class: "form-control timepicker" %>
		<div class="input-group-addon">
		  <i class="fa fa-clock-o"></i>
		</div>
	  </div>
	</div>
  </div>

  <div class="form-group" style="width: 50%">
	<label>Deskripsi:</label>
	<%= f.text_area :description, :cols => "30", :rows => "10", class: "form-control" %>
  </div>
  <%= f.submit btn_title, :class=>'btn btn-default' %>

<% end %>

