<%= form_for(@absent) do |f| %>
  <% if @absent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@absent.errors.count, "error") %> prohibited this absent from being saved:</h2>

      <ul>
      <% @absent.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
<table>
    <tr>
     <td><%= f.label :date %></td>
     <td><%= f.text_field :date, :placeholder=> "Tanggal" , class: "from-date" %></td>
    </tr>
    <tr>
     <td><%= f.label :user_id %></td>
     <td><%= f.select :user_id, options_for_select(@users) %></td>
    </tr>
    <tr>  
     <td><%= f.label :categories %></td>
     <td><%= f.select :categories, options_for_select([['Masuk',1], ['Alfa',2], ['Izin',3], ['Sakit',4]])%></td>
    </tr>
    <tr>  
     <td><%= f.label :description %></td>
     <td><%= f.text_area :description, :cols => "30", :rows => "10" %></td>
    </tr> 
    <tr>
     <td><%= f.submit nil, :class=>'btn btn-default' %></td>
    </tr>
  </div>
</table>
<% end %>

