<style type="text/css">
  th {
    text-align: center;
  }
</style>
<table id="example2" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Tanggal </th>
      <th>Nama Karyawan</th>
      <th>Jam Masuk</th>
      <th>Jam Keluar</th>
      <th>Total Jam Kerja</th>
      <th>Kategori</th>
      
      <% if current_user.role_id == 2 %> 
      <th>
        Action
      </th>
      <% end %>

    </tr>
  </thead>
  <tbody>
    <% absents.each do |absent| %>
    <tr>
      <td ><%= absent.date.strftime("%d-%B-%Y") %></td>
      <td> <%= "#{absent.try(:user).try(:first_name)} #{absent.try(:user).try(:last_name)}".downcase.titleize %> </td>
      <td ><%= absent.time_in.strftime("%H:%M ") rescue nil %></td>
      <td ><%= absent.time_out.strftime("%H:%M ") rescue nil %></td>
      <td ><%= absent.total_work_time %></td>

      <% if absent.categories == 1 %>
      <td >Masuk</td>
      <% elsif absent.categories == 2 %>
      <td >Alfa</td>
      <% elsif absent.categories == 3 %>
      <td >Izin</td>
      <% elsif absent.categories == 4 %>
      <td >Sakit</td>
      <% elsif absent.categories == 5 %>
      <td >Cuti</td>
      <%end%>

      

      <% if current_user.role_id == 2 %> 
      <td >
        <%= link_to 'Lihat', absent, :class=>'btn btn-info' %>
        <%= link_to 'Ubah', edit_absent_path(absent), :class=>'btn btn-warning' %>
        <%= link_to 'Hapus', absent, :class=>'btn btn-danger', confirm: 'Are you sure?', method: :delete %>
      </td>
      <% end %>
    </tr>

    <% end %>
  </tbody>
</table>



