<style type="text/css">
  th {
    text-align: center;
  }
</style>
<table id="example2" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Tanggal </th>
      <th>Jam Masuk</th>
      <th>Jam Keluar</th>
      <th>Nama Karyawan</th>
      <th>Kategori</th>
      
      <% if current_user.role == "admin" %> 
      <th>
        Action
      </th>
      <% end %>

    </tr>
  </thead>
  <tbody>
    <% absents.each do |absent| %>
    <tr>
      <td ><%= absent.date %></td>
      <td ><%= absent.time_in.strftime("%I:%M:%S") rescue nil %></td>
      <td ><%= absent.time_out.strftime("%I:%M:%S") rescue nil %></td>
      <td ><%= absent.try(:user).try(:email) %></td>

      <% if absent.categories == 1 %>
      <td >Masuk</td>
      <% elsif absent.categories == 2 %>
      <td >Alfa</td>
      <% elsif absent.categories == 3 %>
      <td >Izin</td>
      <% elsif absent.categories == 4 %>
      <td >Sakit</td>
      <%end%>

      

      <% if current_user.role == "admin" %>
      <td >
        <%= link_to 'Lihat', absent, :class=>'btn btn-info' %>
        <%= link_to 'Ubah', edit_absent_path(absent), :class=>'btn btn-warning' %>
        <%= link_to 'Hapus', absent, :class=>'btn btn-danger', confirm: 'Are you sure?', method: :delete %>
      </td>
      <% end %>
    </tr>

    <% end %>
  </tbody>
</table>



<div id='wil_paginate_id'> <%= will_paginate @absents, :params => {is_active: true} %> </div>