<h2 class="text-center">ABSENSI KARYAWAN</h2>

<table class="table tablesorter">
  
  <tr style="background-color: #222222; color:#fff">
    <th style="text-align: center" >Date</th>
    <th style="text-align: center" >User</th>
    <th style="text-align: center" >Categories</th>
    <th style="text-align: center" >Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @absents.each do |absent| %>
  <tr>
    <td style="text-align: center" ><%= absent.date %></td>
    <td style="text-align: center" ><%= absent.try(:user).try(:email) %></td>
    <% if absent.categories == 1 %>
     <td>Alfa</td>
    <%end%>
    <td style="text-align: center" ><%= absent.categories %></td>
    <td style="text-align: center" ><%= absent.description %></td>
    
    <td style="text-align: center">
    <%= link_to 'Show', absent, :class=>'btn btn-info' %>
    <%= link_to 'Edit', edit_absent_path(absent), :class=>'btn btn-warning' %>
    <%= link_to 'Destroy', absent, :class=>'btn btn-danger', confirm: 'Are you sure?', method: :delete %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Absent', new_absent_path, :class=>'btn btn-primary' %>
