<% content_for :content_title do %>
Kehadiran
<% end%>

<% content_for :content_sub_title do %>
Daftar Hadir Karyawan
<% end%>

<% content_for :content_body do %>
<div class="span5" style="float:left;padding-left: 20px;">
  <%= link_to '<< PREV',absents_path(:year => @prev.year, :month => @prev.month ), :class => "btn btn-geckoboard" %>
  <%= @start_date.strftime("%d %B ") %> - <%= @end_date.strftime("%d %B") %>
  <%= link_to 'NEXT >>', absents_path(:year => @next.year, :month => @next.month), :class => "btn btn-geckoboard" %>
</div>
<div class="span4" style="float:right;padding-right: 20px;">
  <%= form_tag(absents_path, :method => "get", class: "navbar-form", id: "search-form", remote: true) do %>
  <div class="input-append">
   <%= text_field_tag :search, params[:search], class: "span2", placeholder: "Search User" %>
   <button class="btn" type="submit"><i class="icon-search"></i></button>
 </div>
 <% end %>
</div>
<%= render partial: "list", locals: {absents: @absents} %>
<% end%>

<% content_for :content_nav do %>
<%= link_to 'Buat Data', new_absent_path, :class=>'btn btn-primary' %>
<% end%>
