<% content_for :content_title do %>
Kehadiran
<% end%>

<% content_for :content_sub_title do %>
Daftar Hadir Karyawan
<% end%>

<% content_for :content_body do %>
<% if current_user.role_id == 2 %>

<table style="text-align: center; width: 100%; ">
	<tr>
		<td align="right"><%= link_to "<< sebelumnya", absents_path(:search => @date.yesterday), class: "custom-link" %></td>
		<td style="text-align: center; width: 20%; "><h4><%= @date.strftime("%d-%B-%Y") %></h4></td>
		<td align="left"><%= link_to "selanjutnya >>", absents_path(:search => @date.tomorrow), class: "custom-link"%></td>
	</tr>
</table>


<%= render partial: "list", locals: {absents: @absents} %>
<br/ >


<% else %>

<% if @check_absent.blank? %>
<button class="btn btn-primary" data-toggle="modal" data-target="#myModal">
	Absen Masuk
</button>



<% else %>
<p>
	Tanggal
</p>
<p>
	<%= @check_absent.date.strftime("%d-%B-%Y") %>
</p>
<p>
	Anda Masuk Pukul
</p>
<p>
	<%= @check_absent.time_in.strftime("%H:%M ") %>
</p>
<% long_work = Time.now.hour - @check_absent.time_in.hour %>

<% if @check_absent.time_out.blank? %>
<p>
	Selamat Bekerja
</p>
<button class="btn btn-primary" data-toggle="modal" data-target="#myModal">
	Absen Keluar
</button>
<% else %>
<p>
	Anda Keluar Pukul
</p>
<p>
	<%= @check_absent.time_out.strftime("%H:%M ") %>
</p>
<p>
	Terimakasih Untuk Hari Ini
</p>
<% end %>

<% end %>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<% if @check_absent.blank? %>
				<h3>Absen Masuk</h3>
				<% else %>
				<h3>Absen Keluar</h3>
				<% end %>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="tab-content">
						
						<% if @check_absent.blank? %>						
						<p>
							Tanggal
						</p>
						<p>
							<%= Time.current.to_date.strftime("%d-%B-%Y") %>
						</p>
						<p>
							Pukul
						</p>
						<p>
							<%= Time.current.strftime("%H:%M:%S") %>
						</p>
						
						<% end %>

						<% if @check_absent.blank? || long_work.to_i >= 8 %>
						
						<%= link_to 'Buat Data', set_absent_attend_path(current_user), :class=>'btn btn-primary', :onclick => "myFunction();" %>
						<% else %>
						<p>Anda Belum Bekerja Selama 8 Jam</p>
						<% end %>
						
					</div>
				</div>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<% end %>
<% end %>

<% content_for :content_nav do %>
<% if current_user.role_id == 2%>
<%= link_to 'Buat Data Ketidakhadiran', new_absent_path, :class=>'btn btn-primary' %>
<% end%>
<% end%>


