<% content_for :content_title do %>
Kehadiran
<% end%>

<% content_for :content_sub_title do %>
Detail Kehadiran
<% end%>

<% content_for :content_body do %>
<div align="left">
	<table>
		<tr>
			<td> <b> Tanggal </b> </td>
			<td> <b> :</b> </td>
			<td> <%= @absent.date %></td>
		</tr>
		<tr>
			<td> <b>Nama Karyawan </b> </td>
			<td> <b> :</b> </td>
			<td> <%= "#{@absent.try(:user).try(:first_name)} #{@absent.try(:user).try(:mid_name)} #{@absent.try(:user).try(:last_name)}".downcase.titleize %> </td>
		</tr>
		<tr>
			<td> <b> Kategori </b> </td>
			<td> <b> :</b> </td>
			<td> <%= @absent.categories %></td>
		</tr>

		<tr>
			<td> <b> Keterangan </b> </td>
			<td> <b> :</b> </td>
			<td> <%= @absent.description %></td>
		</tr>
	</table>
</div>
<% end%>

<% content_for :content_nav do %>
<%= link_to 'Ubah', edit_absent_path(@absent), :class=>'btn btn-primary' %>
<%= link_to 'Kembali', absents_path, :class=>'btn btn-primary' %>
<% end%>
















