<% content_for :content_title do %>
Kehadiran
<% end%>

<% content_for :content_sub_title do %>
Detail Kehadiran
<% end%>

<% content_for :content_body do %>
<div align="left">
	<table>
		<tr>
			<td> <b> Tanggal </b> </td>
			<td> <b> :</b> </td>
			<td> <%= @absent.date %></td>
		</tr>
		<tr>
			<td> <b> Jam Masuk </b> </td>
			<td> <b> :</b> </td>
			<td> <%= @absent.time_in.strftime("%I:%M:%S") rescue nil  %></td>
		</tr>
		<tr>
			<td> <b> Jam Masuk </b> </td>
			<td> <b> :</b> </td>
			<td> <%= @absent.time_out.strftime("%I:%M:%S") rescue nil  %></td>
		</tr>
		<tr>
			<td> <b>Nama Karyawan </b> </td>
			<td> <b> :</b> </td>
			<td> <%= "#{@absent.try(:user).try(:first_name)} #{@absent.try(:user).try(:mid_name)} #{@absent.try(:user).try(:last_name)}".downcase.titleize %> </td>
		</tr>
		<tr>
			<td> <b> Kategori </b> </td>
			<td> <b> :</b> </td>
			<td> 
				<% if @absent.categories == 1%>
				Masuk
				<% elsif @absent.categories == 2%>
				Alfa
				<% elsif @absent.categories == 3%>
				Izin
				<% elsif @absent.categories == 4%>
				Sakit
				<% elsif @absent.categories == 5%>
				Cuti
				<% end %>
			</td>
		</tr>

		<tr>
			<td> <b> Keterangan </b> </td>
			<td> <b> :</b> </td>
			<td> <%= @absent.description %></td>
		</tr>
	</table>
</div>
<% end%>

<% content_for :content_nav do %>

<%= link_to 'Ubah', edit_absent_path(@absent), :class=>'btn btn-primary' %>
<% if current_user.role_id == 2 %>
<%= link_to 'Kembali', absents_path, :class=>'btn btn-primary' %>
<% end%>
<% end%>
















