<script type="text/javascript" src="/assets/xcharts.js"></script>
<script type="text/javascript" src="/assets/d3.min.js"></script>
<script type="text/javascript" src="/assets/jquery.formatCurrency-1.4.0.min.js"></script>

<h3>Reporting</h3>

<div class="span5 ml0">
  <%= form_tag reporting_reports_path, method: :get do %>
	<p>
	  Pilih bulan: <%= select_month(Date.today) %>
	</p>
	<p>
	  Pilih tahun: <%= select_year(Date.today, :start_year => Time.now.year, :end_year => Time.now.year - 2, :field_name => 'grad_year') %>
	</p>
	<%= submit_tag "Submit", :class => "btn btn-primary" %>
  <% end %>
</div>

<div class="span6 well pull-right">
  <h4>KESIMPULAN :</h4>
  <p>
	<strong>Total Pendapatan:</strong>
	<span class="label label-primary"><%= number_to_currency(@transactions.debits.sum(:value), unit: "Rp. ") %></span>
  </p>
  <p>
	<strong>Total Pengeluaran:</strong>
	<span class="label label-warning"><%= number_to_currency(@transactions.credits.sum(:value), unit: "Rp. ") %></span>
  </p>
  <p>
	<% if @transactions.debits.sum(:value) >= @transactions.credits.sum(:value) %>
	  <strong>Mendapat keuntungan:</strong>
	  <span class="label label-info"><%=  number_to_currency(@profit, unit: "Rp. ")%></span>
	<% else %>
	  <strong>Mendapat kerugian:</strong>
	  <span class="label label-warning"> <%=  number_to_currency(@profit, unit: "Rp. ") %> </span>
	<% end %>
  </p>
</div>
<div class="clearfix"></div>


<% if @is_report %>
  <h3 class="text-center"> Report: <%= @date %> - <%=  params[:date][:grad_year] %> </h3>
  <figure id="myChart"></figure>

  <table>
  </table>

  <script type="text/javascript">
	$(document).ready(function(){
	  var data = {
		  "main": [
			{
			  //"label": "Foo",
			  "data": [ {
				"x": "pendapatan",
				"y": <%= @transactions.debits.sum(:value) %>
			  },
			  {
				"x": "Pengeularan",
				"y": <%= @transactions.credits.sum(:value) %>
			  }]
			}
		  ],
		  "xScale": "ordinal",
		  "yScale": "linear"
		}
	  chart = new xChart('bar', data, '#myChart');

	  <% if params[:date] and params[:date][:month] %>
	  $("#date_month").val("<%=  params[:date][:month] %>");
	  <% end %>

	  <% if params[:date] and params[:date][:grad_year] %>
		$("#date_grad_year").val("<%=  params[:date][:grad_year] %>");
		$("g[transform='translate(60,0)']").attr("transform", "translate(100,0)");
	  <% end %>

	  setTimeout(function () {
		$(".axisY .tick.major text").each(function( index ) {
		  $(this).formatCurrency({ symbol: "Rp." });
		});
	  }, 2500);
	});

  </script>
<% end %>

    