<li class="treeview">
  <a href="#">
	<i class="fa fa-gears "></i>
	<span>Pengaturan</span>
	<i class="fa fa-angle-left pull-right"></i>
  </a>
  <ul class="treeview-menu">
	<li>
	  <%= link_to '<i class="fa fa-angle-double-right"></i> Pengaturan Lembur'.html_safe, overtime_setting_path %>
	</li>
	<li>
	  <%= link_to '<i class="fa fa-angle-double-right"></i> Pengaturan JamSostek'.html_safe, jamsostek_setting_path %>
	</li>
    <li>
      <%= link_to allowance_categories_path do %>
          <i class="fa fa-angle-double-right"></i> Kategori Tunjangan
      <% end %>
    </li>
    <li>
      <%= link_to '<i class="fa fa-question"></i> Peran'.html_safe, roles_path %>
    </li>
      <li>
    <%= link_to '<i class="fa fa-angle-double-right"></i> Grade Asuransi'.html_safe, grades_path %>
  </li>

  </ul>
</li>
