<ul class="sidebar-menu">
	<li class="active">
		<a href="index.html">
			<i class="fa fa-dashboard"></i> <span>Dashboard</span>
		</a>
	</li>
	
	<% if current_user.role_id == 2%>
	<li> 
		<%= link_to roles_path do %>
		<i class="fa   fa-question"></i> Peran
		<% end %>
	</li>

	<%= render partial: "layouts/manage_user_menus" %>
	<%= render partial: "layouts/allowance_menus" %>
	
	<% else %>
	<li class="active">
		<a href="index.html">
			<i class="fa fa-male"></i> <span>Profile</span>
		</a>
	</li>
	<% end %>
	<%= render partial: "layouts/absent_menus" %>
	
	
	<%= render partial: "layouts/submission_menus" %>
	
	

	<li> 
		<%= link_to new_allowance_claim_transaction_path do %>
		<i class="fa  fa-credit-card"></i> Transaksi Tunjangan
		<% end %>
	</li>
</ul>