<ul class="sidebar-menu">
	<li class="active">
		<a href="index.html">
			<i class="fa fa-dashboard"></i> <span>Dashboard</span>
		</a>
	</li>
	
	<% if current_user.role.name == "admin" %>
	<li> 
		<%= link_to roles_path do %>
		<i class="fa   fa-question"></i> Peran
		<% end %>
	</li>

	<%= render partial: "layouts/manage_user_menus" %>
	<%= render partial: "layouts/allowance_menus" %>
	
	<% else %>
	
	<li> 
		<%= link_to manage_user_path(current_user.id) do %>
		<i class="glyphicon glyphicon-user"></i> Profile
		<% end %>
	</li>
	<% end %>
	<%= render partial: "layouts/absent_menus" %>
	
	
	<%= render partial: "layouts/submission_menus" %>
	
	

	<li> 
		<%= link_to new_allowance_claim_transaction_path do %>
		<i class="fa  fa-credit-card"></i> Transaksi Tunjangan
		<% end %>
	</li>
	<% if current_user.role.name == "admin"%>
	<%= render partial: "layouts/salary_menus" %>
	<%= render partial: "layouts/setting_menus" %>
	<% end %>
</ul>